@import "../../styles/variables";

.tag {
  padding: 2px 3px;
  margin: 5px 0;
  border-radius: 4px;
  color: $black;
}

.alta {
  background: $high;
}

.oscar {
  background: $oscar;
}

.familia {
  background: $family;
}

.culturais {
  background: $culture;
}
