@import "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .title,
  .subTitle {
    color: $white;
  }

  .select {
    width: 200px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
